<html>
<head><title>Text2Gene: About</title>
    <link rel="stylesheet" href="/text2gene.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="torso">
<h1>About Text2Gene</h1>

<p>A set of service-level API functions that perform translation of gene mutation text into lexical synonyms and locate these variants within Pubmed article sources.</p>
</div>

</body>
</html>
