<html>
<head><title>Text2Gene</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="header">
<img src="/text2gene_logo_small.png" />

<p><i>Automatically search PubMed and databases for information relevant for clinical interpretation of rare genetic variants.</i></p>
</div>
<hr />

<h1>Text2Gene Demo for Clinical Scientists</h1>

<div id="top_error">{{ error_msg }}</div>

<h3>Variant Summary Page</h3>
<p>Input an HGVS string:</p>

<form action="/query" method="POST">
   <input type="text" name="hgvs_text" />
   <button type="submit">submit</button>
</form>

<hr />

<h3>Text2Gene API for Developers</h3>

<ul><li><a href="/routes">Endpoints (API query routes)</a></li>
    <li><a href="/examples">Usage examples</a></li>
</ul>


</body>
</html>
