<html>
<head><title>Text2Gene</title>
    <link rel="stylesheet" href="/text2gene.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div id="header">
<img src="/text2gene_logo_small.png" />

<p><i>Automatically search PubMed and databases for information relevant for clinical interpretation of rare genetic variants.</i></p>
</div>
<hr />

<div id="torso">
<h3>Text2Gene Demo for Clinical Scientists</h3>

<div id="top_error">{{ error_msg }}</div>

<h5>Input an HGVS string:</h5>

<form action="/query" method="POST">
   <input type="text" name="hgvs_text" size="60"/>
   <button type="submit">submit</button>
</form>
<p>Examples: [<a alt="NM_001005862.2:c.2239G>T" href="/query/NM_001005862.2:c.2239G%3ET">substitution</a>]
             [<a alt="NM_005228.3:c.2240_2257del18" href="/query/NM_005228.3:c.2240_2257del18">deletion</a>]
</p>

<!-- 

<h5>Input an Amino Acid Change with Gene Symbol:</h5>

<form action="/amino" method="POST">
    <strong>Gene:</strong> <input type="text" name="gene_name" size="12" />
    <h5>Amino Change (Reference, Position, Alternate):</h5>
    <ul>
        <li>Ref: <input type="text" name="ref" size="12"/></li>
        <li>Pos: <input type="text" name="pos" size="12"</input></li>
        <li>Alt: <input type="text" name="alt" size="12"</input></li>
    </ul>
    <button type="submit">submit</button>
</form>

-->

<hr />

<h3><a href="/examples">Text2Gene API Examples for Developers</a></h3>

For integration documentation, please contact <a href="mailto:naomi.most@text2gene.com">naomi.most@text2gene.com</a>
</div>
<div class="clear"></div>

<div id="footer"><hr />[ <a href="mailto:info@text2gene.com">info@text2gene.com</a> ]</div>
</body>
</html>
