<html>
<head><title>Text2Gene: Examples</title>
</head>
<body>

<h1>API Usage Examples</h1>

<h3>HGVS to PMID</h3>
{% for hgvs_text in hgvs_samples %}
<ul><li><a href="/{{api_version}}/hgvs2pmid/{{hgvs_text}}">/{{api_version}}/hgvs2pmid/{{hgvs_text}}</a></li></ul>
{% endfor %}

<h3>Variant Report</h3>
{% for hgvs_text in hgvs_samples %}

<ul><li><a href="/{{api_version}}/report/{{hgvs_text}}">/{{api_version}}/report/{{hgvs_text}}</a></li></ul>
{% endfor %}

<h3>HGVS Lexical Variant Generation</h3>
{% for hgvs_text in hgvs_samples %}

<ul><li><a href="/{{api_version}}/lvg/{{hgvs_text}}">/{{api_version}}/lvg/{{hgvs_text}}</a></li></ul>
{% endfor %}

</body>
</html>
