<html><head><title>Text2Gene dot com</title></head>
    <link rel="stylesheet" href="/text2gene.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<div id="header">
<img src="/text2gene_logo_small.png" />

<p><i>Automatically search PubMed and databases for information relevant for clinical interpretation of rare genetic variants.</i></p>
</div>

<div class="clear"><hr /></div>

<div id="content">
    <table class="values">
    <tr><td class="icon"><img src="/text2gene_values_speed.png"></td>
        <td class="text">Spend less time searching</td>
    </tr>
    <tr><td class="icon"><img src="/text2gene_values_vus.png"></td>
        <td class="text">Reduce VUS rate (Variants of Unknown Significance)</td>
    </tr>
    <tr><td class="icon"><img src="/text2gene_values_search.png"></td>
        <td class="text">Search variant evidence more comprehensively</td>
    </tr>
    <tr><td class="icon"><img src="/text2gene_values_cost.png"></td>
        <td class="text">Save human expert time &rarr; Reduce cost</td>
    </tr>
    </table>

</div>

<div class="clear"></div>

<div id="footer"><hr />[ <a href="mailto:info@text2gene.com">info@text2gene.com</a> ]</div>
</body>
</html>
